{% extends 'base.html.twig' %}
{% block body %}

    <a class="btn btn-primary btn-lg" href="{{ path('login')}}">Login</a>

    <br>

    {% if movie.token is defined %}
        <a class="btn btn-primary btn-lg" href="{{ path('count_eggs', {'id': movie.token}) }}">Count Eggs</a>
    {% else %}
        <a class="btn btn-primary btn-lg" href="{{ path('authorize_start') }}">Authorize</a>
    {% endif %}

{% endblock %}