{% extends 'base.html.twig' %}
{% block body %}

    {% if user.Status %}
        <a class="btn btn-primary btn-lg" href="{{ path('count_eggs', {'id': user.id}) }}">Count Eggs</a>
    {% else %}
        <a class="btn btn-primary btn-lg" href="{{ path('coop_authorize_start') }}">Authorize</a>
    {% endif %}

{% endblock %}